body {
  height: 100vh;
  margin: 0 auto;
  background-color: #b7e0e6;
}

.header {
  margin: 2em auto;
  width: 12.5rem;
  font-size: 2em;
}

.panel {
  display: flex;
  justify-content: center;
  height: 3em;
  font-size: 1em;
}

.panel__new-game, .panel__timer-game, .panel__click-count {
  width: 6rem;
  text-align: center;
  padding: 0.6rem 0 0 0;
  border: thick double #aadcf3;
  background: #259fb5;
}

.panel__new-game {
  padding: 0;
}

.panel__new-game:hover {
  cursor: pointer;
  color: bisque;
  background: #1cb7d2;
}

.wrap {
  max-width: 18.75rem;
  margin: 0 auto;
}

.minesweeper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 10%);
  justify-content: center;
}

.minesweeper__btnBox {
  height: 1.875rem;
}

.minesweeper__btnBox_one-blue {
  color: blue;
  font-weight: bold;
}

.minesweeper__btnBox_two-green {
  color: green;
  font-weight: bold;
}

.minesweeper__btnBox_three-red {
  color: red;
  font-weight: bold;
}

.minesweeper__btnBox_four-brown {
  color: rgb(198, 150, 36);
  font-weight: bold;
}



