body {
  height: 100vh;
  margin: 0 auto;
  background-color: #b7e0e6;
}

.header {
  margin: 2em auto;
  width: 16.5rem;
  font-size: 2em;
  text-align: center;
}

.wrap-panel {
  max-width: 18.75rem;
  margin: 0 auto;
}

.panel {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 33.4%);
  justify-content: center;
  height: 6rem;
  font-size: 1rem;
}

.panel__new-game, 
.panel__sound-toggle, 
.panel__timer-game, 
.panel__click-count, 
.panel__mine-remains, 
.panel__flag-count {
  width: 5.8rem;
  height: 1.8rem;
  text-align: center;
  padding: 0.6rem 0 0 0;
  border: thick double #aadcf3;
  background: #259fb5;
}

.panel__new-game, 
.panel__sound-toggle {
  height: 3rem;
  padding: 0;
  margin-left: 0 0.5rem;
  color: bisque;
  background: #272626;
}

.panel__sound-toggle {
margin-left: 0.5rem;
}

.panel__new-game:hover {
  cursor: pointer;
  color: bisque;
  background: #1cb7d2;
}

.panel__sound-toggle:hover {
  cursor: pointer;
  background: #284dd1;
}

.wrap-minesweeper {
  max-width: 18.75rem;
  margin: 0 auto;
}

.minesweeper {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(10, 10%);
  justify-content: center;
}

.minesweeper__btnBox {
  height: 1.875rem;
}

.minesweeper__btnBox_one-blue {
  color: blue;
  font-weight: bold;
}

.minesweeper__btnBox_two-green {
  color: green;
  font-weight: bold;
}

.minesweeper__btnBox_three-red {
  color: red;
  font-weight: bold;
}

.minesweeper__btnBox_four-brown {
  color: rgb(198, 150, 36);
  font-weight: bold;
}



