/* Fonts start */
@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-Black.woff2') format('woff2'),
        url('assets/fonts/Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-BoldItalicMT.woff2') format('woff2'),
        url('assets/fonts/Arial-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-BoldMT.woff2') format('woff2'),
        url('assets/fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow-Bold.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow-Italic.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/ArialMT.woff2') format('woff2'),
        url('assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia-Italic.woff2') format('woff2'),
        url('assets/fonts/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia.woff2') format('woff2'),
        url('assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia-Bold.woff2') format('woff2'),
        url('assets/fonts/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Fonts end */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles start */
.header {
    position: absolute;
    width: 100%;
    height: 60px;
    left: 0;
    top: 0;
    padding: 30px 40px;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    max-width: 186px;
    max-height: 60px;
    cursor: pointer;
}

.header-logo__link {
    max-width: 186px;
    max-height: 60px;
    line-height: 30px;
    text-decoration: none;
}

.header-logo__title {
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.header-logo__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 4px; 
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 12px;
    margin-right: 3px;
}

.header-item {
    margin-right: 35px;    
}

.header-item-inactive {
    pointer-events: none;
}

.header-item:last-child {
    margin-right: 0;
}

.header-item__link{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: #CDCDCD;
    text-decoration: none;
}

.header-item__link-active {
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid;
    cursor: default;
    padding-bottom: 3px;
}

.header-item__link:active {
    border-bottom: 3px #F1CDB3 solid;
}

.burger {
    display: none;
}

/* Header styles end */

/* Notonly styles start */
.notonly {
    background: url(./assets/img/start-screen-background.jpg) no-repeat center;
    background: url(./assets/img/start-screen-gradient-background.jpg) no-repeat center;
    background-size: cover;
}

.notonly-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 900px;
}

.notonly-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 50px;
}

.notonly-content__title {
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
}

.notonly-content__subtitle {
    max-width: 460px;
    font-family: 'Arial';
    color: #CDCDCD;
    margin-top: 2px;
}

.notonly-content__button {
    width: 207px;
    height: 52px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 0 15px 44px;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: 1px solid #F1CDB3;   
    margin-top: 28px;
}

.notonly-img {
    margin-top: 172px;
}

/* Notonly styles end */

/* About styles start */
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 588px;
}

.about-img {
    margin-top: 80px;
    margin-right: 120px;
}

.about-content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 63px;
}

.about-content__title {
    font-weight: 400;
    max-width: 370px;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
}

.about-content__subtitle {
    max-width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: #4C4C4C;
    margin-top: -2px;
}

/* About styles end */

/* Ourfriends styles start */
.ourfriends {
    background: #F6F6F6;
}

.ourfriends-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: 877px;
}

.ourfriends-title {
    max-width: 400px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 80px;
}

.ourfriends-slider {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.slider-wrapper {
    width: 990px;
    overflow: hidden;
}

.slider {
    display: flex;
    position: relative;
    left: -990px;
}

.ourfriends-cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 90px;
}

.ourfriends-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    letter-spacing: 0.06em;
}

.ourfriends-card__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 30px;
}

.ourfriends-card__button {
    width: 187px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 12px;
    margin-left: 42px;
    cursor: pointer;
}

.arrow-left, .arrow-right {
    width: 52px;
    height: 52px;
    margin-top: 192px;
}

.arrow-left  {
    margin-right: 53px;
}

.arrow-right  {
    margin-left: 53px;
}

.ourfriends-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    width: 261px;
    height: 52px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F1CDB3;
    border: 1px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 60px;
    padding: 15px 43px;
}

.popup-overlay {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(41, 41, 41, 0.6);
}

.popup-overlay__active {
    display: flex;
}

.popup-wraper {
    width: 952px;
    height: 552px;
}

.popup-close {
    display: flex;
    justify-content: flex-end;
    margin-right: -42px;
}

.popup-content {
    display: flex;
    flex-wrap: nowrap;
    width: 900px;
    height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.content-description {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 4px 0;
    max-width: 351px;
    max-height: 362px;
    font-weight: 400;
    letter-spacing: 0.06em;
    color: #000000;
    margin: 30px 25px 0 25px;
}

.content-description__title {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
}

.content-description__subtitle {
    font-size: 20px;
    line-height: 115%;
    margin-top: -25px;
}

.content-description__description {
    line-height: 110%;
    margin-bottom: 30px;
}

.description-text {
    font-weight: 700;
    margin-left: 10px;
}

@keyframes anim-left {
    from {
        left: -990px;
    }
    to {
        left: 0px;
    }
}

@keyframes anim-right {
    from {
        left: -990px;
    }
    to {
        left: -1980px;
    }
}

.slider-anim-left {
    animation: anim-left 3s;
}

.slider-anim-right {
    animation: anim-right 3s;
}

/* Ourfriends styles end */

/* Help styles start */
.help-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    min-height: 611px;
}

.help-title {
    max-width: 310px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 80px;
}

.help-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1026px;
    height: 281px;
    margin-top: 32px;
    gap: 38px 119px;
}

.help-item {
    text-align: center;
}

.help-item__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

/* Help styles end */

/* Inaddition styles start */
.inaddition {
    background: #F6F6F6;
}

.inaddition-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 30px;
    height: 462px;
}

.inaddition-img {
    margin-top: 91px;
}

.inaddition-content {
    display: flex;
    flex-wrap: wrap;
    max-width: 380px;
    height: 282px;
    margin-top: 50px;
}

.inaddition-title {
    max-width: 300px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
}

.inaddition-subtitle {
    max-width: 308px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    margin-top: -8px;
}

.inaddition-card {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 14px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-top: 5px;
}

.inaddition-card__number {
    width: 275px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
}

.inaddition-description {
    max-width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 20px;
}

/* Inaddition styles end */

/* Footer styles start */
.footer {
    background: url(./assets/img/footer-background.jpg) no-repeat center;
    background: url(./assets/img/footer-gradient-background.jpg) no-repeat center;
    background-size: cover;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
}

.footer-contacts {
    width: 280px;
    height: 234px;
    margin-top: 28px;
}

.footer-locations {
    width: 302px;
    height: 234px;
    margin-top: 28px;
}

.footer-title-1 {
    max-width: 280px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-title-2 {
    max-width: 280px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.footer-link {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 19px;
    max-width: 302px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.footer-phone {
    margin-top: 8px;
}

.footer-london {
    margin-top: -2px;
}

.footer-img {
    max-height: 320px;
    margin-top: 40px;
}

/* Footer styles end */

/* Media start */
@media (hover:hover) {

    .header-item__link:hover {
        color: #FAFAFA;
        transition: all 0.5s linear; 
    }

    .notonly-content__button:hover {
        cursor: pointer;
        background-color: #FDDCC4;
        border: 1px solid #FDDCC4;
        transition: all 0.5s linear; 
    }

    .ourfriends-card:hover {
        background: #FFFFFF;
        cursor: pointer;
        transition: all 0.5s linear; 
    }
    
    .ourfriends-card:hover .ourfriends-card__button {
        background-color: #F1CDB3;
        transition: all 0.5s linear; 
    }

    .arrow-left:hover, .arrow-right:hover{
        background: #FDDCC4;
        border-radius: 100px;
        border-color: #FDDCC4;
        cursor: pointer;
        transition: all 0.5s linear;
    }

    .popup-close__img:hover {
        background: #FDDCC4;
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.5s linear;
    }

    .ourfriends-button:hover {
        cursor: pointer;
        background-color: #FDDCC4;
        border: 1px solid #FDDCC4;
        transition: all 0.5s linear; 
    }

    .inaddition-card:hover {
        cursor: pointer;
        background-color: #FDDCC4;
        transition: all 0.5s linear;  
    }

    .footer-link:hover {
        cursor: pointer;
        color: #FAFAFA;
        transition: all 0.5s linear; 
    }

    .body-no-scroll {
        overflow: hidden;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1279.9px)  {
    
    .wrapper {
        min-width: 708px;
    }

    .header {
        padding: 30px 30px;
    }

    .notonly {
        background: url(./assets/img/start-screen-background-tablet.jpg) no-repeat center;
        background: url(./assets/img/start-screen-gradient-background-tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .notonly-wrapper {
        flex-direction: column;
        justify-content: center;
        min-height: 1158px;
    }

    .notonly-content {
        align-items: flex-start;
        padding: 0 146px;
        margin-top: 108px;
        margin-bottom: 100px;
    }

    .notonly-content__title {
        max-width: 100%;
        padding-right: 60px;
    }

    .notonly-content__subtitle {
        max-width: 100%;
    }

    .notonly-content__button {
        margin-left: 126px;
    }

    .notonly-img {
        max-width: 569px;
        max-height: 593px;
        margin-top: 0px;
        margin-left: 140px;
    }
    
    .about-wrapper {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
        min-height: 1048px;
    }

    .about-content {
        padding: 0 160px;
        margin-top: -45px;
        margin-bottom: 65px;
    }

    .about-content__subtitle {
        max-width: 100%;
    }

    .about-img {
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .ourfriends-title {
        margin-bottom: 28px;
    }

    .ourfriends-slider {
        max-width: 100%;
        justify-content: space-between;
        padding: 0 22px;
        margin-bottom: 0px;
    }

    .slider-wrapper {
        width: 580px;
        overflow: hidden;
    }
    
    .slider {
        left: -580px;
    }

    @keyframes anim-left {
        from {
            left: -580px;
        }
        to {
            left: 0px;
        }
    }
    
    @keyframes anim-right {
        from {
            left: -580px;
        }
        to {
            left: -1160px;
        }
    }
    
    .ourfriends-cards {
        gap: 40px;
    }

    .ourfriends-card:nth-last-child(-n+1) {
        display: none;
    }
    
    .arrow-left  {
        margin-right: 12px;
    }
    
    .arrow-right  {
        margin-left: 12px;
    }

    .help-wrapper {
        min-height: 779px;
    }

    .help-content {
        max-width: 100%;
        min-height: 449px;
        justify-content: space-between;
        gap: 56px 0px;
        padding: 0 60px;
    }

    .help-item {
        width: 170px;
        height: 113px;
    }

    .inaddition-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0 30px;
        min-height: 783px;
    }

    .inaddition-img {
        margin-top: 46px;
    }
    
    .inaddition-content {
        flex-direction: column;
        max-width: 100%;
        margin: 0 186px;
        height: 325px;
        margin-top: -44px;
    }

    .inaddition-title {
        max-width: 300px;
    }

    .inaddition-description {
        max-width: 100%;
    }

    .footer {
        background: url(./assets/img/footer-background-tablet.jpg) no-repeat center;
        background: url(./assets/img/footer-gradient-background-tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .footer-wrapper {
        height: 639px;
        justify-content: center;
        gap: 0 40px;
        padding: 0 46px;
    }

    .footer-img {
        margin-top: 95px;
    }

    .footer-contacts {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        min-width: 45%;
        margin-top: 0;
    }
    
    .footer-locations {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: flex-start;
        min-width: 45%;
        margin-top: 0;
    }
}

@media screen and (max-width: 767.9px) {
    
    .wrapper {
        min-width: 280px;
    }

    .header {
        padding: 30px 20px;
    }

    .burger {
        display: flex;
        flex-direction: column;
        width: 30px;
        height: 22px;
        z-index: 11;
        transition: .3s all linear;
    }
    
    .burger__line {
        border: 1.6px solid #F1CDB3;
    }
    
    .burger__line_second {
       margin-top: 7px;
    }
    
    .burger__line_third {
        margin-top: 7px;
    }

    .header-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 320px;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: #292929;
        z-index: 10;
        transform: translateX(100%);
        transition: .3s all linear;
    }

    .header-nav-active {
        transform: translateX(0);
    }

    .header-item {
        width: 243px;
        text-align: center;
        margin-bottom: 35px;    
    }

    .header-item__link {
        font-size: 32px;
        line-height: 51px;
    }

    .burger-active {
        transform: rotate(90deg);
    }

    .blackOut-effect {
        filter: brightness(50%);
        z-index: 9;
    }
    
    .notonly {
        background: url(./assets/img/start-screen-background-mobile.jpg) no-repeat center;
        background: url(./assets/img/start-screen-gradient-background-mobile.jpg) no-repeat center;
        background-size: cover;
    }
    

    .notonly-wrapper {
        flex-direction: column;
        height: 815px;
    }

    .notonly-content {
        align-items: center;
        text-align: center;
        margin-top: 120px;
        gap: 23px;
    }

    .notonly-content__title {
        max-width: 100%;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.06em;
        padding: 0 30px;
    }

    .notonly-content__subtitle {
        max-width: 100%;
    }
    
    .notonly-content__button {
        padding: 15px 44px;
        margin-top: 0px;
    }

    .notonly-img {
        max-width: 260px;
        max-height: 271.77px;
        margin-top: 0px;
        margin-left: 40px;
    }
    
    .about-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        min-height: 974px;
    }

    .about-content {
        align-items: center;
        margin-top: 0px;
        margin-bottom: 22px;
    }

    .about-content__title {
        max-width: 100%;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        padding: 0 30px;
        margin-top: 0px;
    }
    
    .about-content__subtitle {
        max-width: 100%;
        text-align: justify;
        padding: 0 16px;
        margin-top: 0px;
    }

    .about-img {
        max-width: 260px;
        max-height: 353.6px;
        margin-top: 0px;
        margin-right: 0px;
    }

    .ourfriends-wrapper {
        min-height: 791px;
    }

    .ourfriends-title {
        max-width: 300px;
        font-size: 25px;
        line-height: 32px;
        margin-top: 44px;
    }

    .ourfriends-slider {
        justify-content: center;
        gap: 0 80px;
        margin-top: 20px;
    }

    .slider-wrapper {
        max-width: 270px;
        order: -1;
        overflow: hidden;
    }
    
    .slider {
        left: -270px;
    }

    @keyframes anim-left {
        from {
            left: -270px;
        }
        to {
            left: 0px;
        }
    }
    
    @keyframes anim-right {
        from {
            left: -270px;
        }
        to {
            left: -540px;
        }
    }
    
    .ourfriends-cards {
        gap: 0;
    }

    .ourfriends-card:nth-last-child(-n+2) {
        display: none;
    }
    
    .arrow-left, .arrow-right {
        margin-top: 20px;    
    }

    .arrow-left  {
        margin-right: 0px;
    }
    
    .arrow-right  {
        margin-left: 0px;
    }

    .ourfriends-button {
        margin-top: 40px;
    }

    .help-wrapper {
        min-height: 745px;
    }

    .help-title {
        max-width: 222px;
        font-size: 25px;
        line-height: 32px;
        margin-top: 40px;
    }

    .help-content {
        max-width: 100%;
        min-height: 555px;
        justify-content: flex-start;
        margin-top: 22px;
        gap: 30px 30px;
        padding: 0 7px;
    }

    .help-item {
        width: 130px;
        height: 87px;
    }

    .help-item__img {
        max-width: 50px;
        max-height: 50px;
    }

    .help-item__title {
        font-size: 15px;
        line-height: 17px;
    }

    .inaddition-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        min-height: 542px;
    }

    .inaddition-img {
        max-width: 260px;
        max-height: 135.2px;
        margin-top: 60px;
    }
    
    .inaddition-content {
        justify-content: center;
        min-width: 300px;
        margin-top: -20px;
    }

    .inaddition-title {
        max-width: 220px;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
    }
    
    .inaddition-subtitle {
        max-width: 300px;
        font-size: 15px;
        line-height: 24px;
        letter-spacing: 0;
        margin-top: 0px;
    }

    .inaddition-card {
        max-width: 281px;
        max-height: 43px;
        margin-top: 3px;
    }

    .inaddition-card__number {
        max-width: 206px;
        max-height: 17px;
        font-size: 15px;
        line-height: 17px;
    }

    .inaddition-description {
        max-width: 100%;
        text-align: justify;
        padding: 0 10px;
        margin-top: 20px;
    }

    .footer {
        background: url(./assets/img/footer-background-mobile.jpg) no-repeat center;
        background: url(./assets/img/footer-gradient-background-mobile.jpg) no-repeat center;
        background-size: cover;
    }
    
    .footer-wrapper {
        height: 809px;
        justify-content: center;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-title-1 {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin-top: 2px;
    }

    .footer-locations {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin-top: -8px;
    }
    
    .footer-title-2 {
        max-width: 270px;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-london {
        margin-top: 5px;
        padding-right: 28px;
    }

    .footer-img {
        width: 260px;
        height: 269px;
        margin-top: 50px;
    }
}

/* Media end */

