/* Fonts start */
@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-Black.woff2') format('woff2'),
        url('assets/fonts/Arial-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-BoldItalicMT.woff2') format('woff2'),
        url('assets/fonts/Arial-BoldItalicMT.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-BoldMT.woff2') format('woff2'),
        url('assets/fonts/Arial-BoldMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/Arial-ItalicMT.woff2') format('woff2'),
        url('assets/fonts/Arial-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow-Bold.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial Narrow';
    src: url('assets/fonts/ArialNarrow-Italic.woff2') format('woff2'),
        url('assets/fonts/ArialNarrow-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Arial';
    src: url('assets/fonts/ArialMT.woff2') format('woff2'),
        url('assets/fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia-Italic.woff2') format('woff2'),
        url('assets/fonts/Georgia-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia.woff2') format('woff2'),
        url('assets/fonts/Georgia.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia-Bold.woff2') format('woff2'),
        url('assets/fonts/Georgia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/Georgia-BoldItalic.woff2') format('woff2'),
        url('assets/fonts/Georgia-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Fonts end */

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles start */
.header {
    position: absolute;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: 30px;
}
.header-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 1200px;
}

.header-logo {
    max-width: 186px;
    max-height: 60px;
    cursor: pointer;
}

.header-logo__link {
    max-width: 186px;
    max-height: 60px;
    line-height: 30px;
    text-decoration: none;
}

.header-logo__title {
    font-size: 32px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

.header-logo__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 4px; 
}

.header-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 12px;
    margin-right: 3px;
}

.header-item {
    margin-right: 35px;    
}
.header-item:last-child {
    margin-right: 0;
}

.header-item__link{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: #CDCDCD;
    text-decoration: none;
}

.header-item__link-active {
    color: #FAFAFA;
    border-bottom: 3px #F1CDB3 solid;
    cursor: default;
    padding-bottom: 3px;
}

.header-item__link:hover {
    color: #FAFAFA;
    transition: all 0.5s linear; 
}

.header-item__link:active {
    border-bottom: 3px #F1CDB3 solid;
}
/* Header styles end */

/* Notonly styles start */
.notonly {
    background: url(./assets/img/start-screen-background.jpg) no-repeat center;
    background: url(./assets/img/start-screen-gradient-background.jpg) no-repeat center;
    background-size: cover;
}

.notonly-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 900px;
}

.notonly-content {
    margin-top: 50px;
}

.notonly-content__title {
    font-weight: 400;
    max-width: 310px;
    font-size: 44px;
    line-height: 57px;
    color: #FFFFFF;
}

.notonly-content__subtitle {
    max-width: 460px;
    font-family: 'Arial';
    color: #CDCDCD;
    margin-top: 42px;
}

.notonly-content__button {
    width: 207px;
    height: 52px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 44px;
    background-color: #F1CDB3;
    border-radius: 100px;
    border: 1px solid #F1CDB3;   
    margin-top: 40px;
}

.notonly-content__button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: 1px solid #FDDCC4;
    transition: all 0.5s linear; 
}

.notonly-img {
    margin-top: 172px;
}
/* Notonly styles end */

/* About styles start */
.about-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 588px;
}

.about-img {
    margin-top: 80px;
    margin-right: 120px;
}

.about-content {
    margin-top: 63px;
}

.about-content__title {
    font-weight: 400;
    max-width: 370px;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
}

.about-content__subtitle {
    max-width: 430px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    color: #4C4C4C;
}
/* About styles end */

/* Ourfriends styles start */
.ourfriends {
    background: #F6F6F6;
}

.ourfriends-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 877px;
}

.ourfriends-title {
    max-width: 400px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    text-align: center;
    margin-top: 80px;
}

.ourfriends-slider {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}

.ourfriends-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 435px;
    background: #FAFAFA;
    border-radius: 9px;
    letter-spacing: 0.06em;
    margin-right: 90px;
}

.ourfriends-card:nth-last-child(-n+2) {
    margin-right: 53px;
}

.ourfriends-card:hover {
    background: #FFFFFF;
    cursor: pointer;
    transition: all 0.5s linear; 
}

.ourfriends-card:hover .ourfriends-card__button {
    background-color: #F1CDB3;
    transition: all 0.5s linear; 
}

.ourfriends-card__name {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin-top: 30px;
}

.ourfriends-card__button {
    width: 187px;
    height: 52px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #FAFAFA;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    margin-top: 12px;
    margin-left: 42px;
    cursor: pointer;
}

.ourfriends-arrow-left {
    width: 52px;
    height: 52px;
    margin-right: 53px;
    margin-top: 192px;
}

.ourfriends-arrow-left__active {
    display: none;
}

.ourfriends-arrow-left:hover .ourfriends-arrow-left__active {
    display: block;
    position: relative;
    top: -59px;
    animation: arrow 0.5s forwards;
    cursor: pointer;
}

.ourfriends-arrow-right {
    width: 52px;
    height: 52px;
    margin-top: 192px;
}

.ourfriends-arrow-right__active {
    display: none;
    transform: rotateY(180deg);
}

.ourfriends-arrow-right:hover .ourfriends-arrow-right__active {
    display: block;
    position: relative;
    top: -59px;
    animation: arrow 0.5s forwards;
    cursor: pointer;
}

.ourfriends-button {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    width: 261px;
    height: 52px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    color: #292929;
    background-color: #F1CDB3;
    border: 1px solid #F1CDB3;
    border-radius: 100px;
    margin-bottom: 40px;
    padding: 15px 43px;
}

.ourfriends-button:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    border: 1px solid #FDDCC4;
    transition: all 0.5s linear; 
}

@keyframes arrow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }
/* Ourfriends styles end */

/* Help styles start */
.help-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 611px;
}

.help-title {
    max-width: 310px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.06em;
    margin-top: 80px;
}

.help-content {
    width: 1026px;
    height: 281px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 68px;
    gap: 38px 119px;
}

.help-item {
    text-align: center;
}

.help-item__title {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}
/* Help styles end */

/* Inaddition styles start */
.inaddition {
    background: #F6F6F6;
}

.inaddition-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 30px;
    height: 462px;
}

.inaddition-img {
    margin-top: 91px;
}

.inaddition-content {
    max-width: 380px;
    height: 282px;
    margin-top: 50px;
}

.inaddition-title {
    max-width: 300px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
}

.inaddition-subtitle {
    max-width: 308px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    margin-top: -8px;
}

.inaddition-card {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    gap: 14px;
    width: 349px;
    height: 43px;
    background: #F1CDB3;
    border-radius: 9px;
    margin-top: 19px;
}

.inaddition-card:hover {
    cursor: pointer;
    background-color: #FDDCC4;
    transition: all 0.5s linear;  
}

.inaddition-card__number {
    width: 275px;
    height: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    text-decoration: none;
}

.inaddition-description {
    max-width: 380px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #B2B2B2;
    margin-top: 20px;
}
/* Inaddition styles end */

/* Footer styles start */
.footer {
    background: url(./assets/img/footer-background.jpg) no-repeat center;
    background: url(./assets/img/footer-gradient-background.jpg) no-repeat center;
    background-size: cover;
}

.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 350px;
}

.footer-contacts {
    max-width: 280px;
    margin-top: 28px;
}

.footer-locations {
    max-width: 302px;
    margin-top: 28px;
}

.footer-title-1 {
    max-width: 280px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-title-2 {
    max-width: 280px;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.footer-link {
    display: flex;
    flex-wrap: nowrap;
    gap: 0 19px;
    max-width: 302px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    text-decoration: none;
}

.footer-link:hover {
    cursor: pointer;
    color: #FAFAFA;
    transition: all 0.5s linear; 
}

.footer-phone {
    margin-top: 8px;
}

.footer-london {
    margin-top: -2px;
}

.footer-img {
    margin-top: 40px;
}
/* Footer styles end */

/* Media start */

@media screen and (min-width: 321px) and (max-width: 768px) {
    
    .wrapper {
        max-width: 708px;
    }

    .header {
        left: calc(50% - 708px/2);
    }

    .header-wrapper {
        max-width: 708px;
    }

    .notonly-wrapper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        min-height: 1158px;
    }

    .notonly-content {
        margin-top: 108px;
        margin-bottom: 100px;
    }

    .notonly-content__button {
        margin-left: 126px;
    }

    .notonly-img {
        max-width: 569px;
        max-height: 593px;
        margin-top: 0px;
        margin-left: 140px;
    }
    
    .about-wrapper {
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        align-items: center;
        min-height: 1048px;
    }

    .about-content {
        margin-top: -45px;
        margin-bottom: 65px;
    }

    .about-img {
        margin-top: 0px;
        margin-right: 0px;
    }
    
    .ourfriends-title {
        margin-bottom: 28px;
    }

    .ourfriends-slider {
        justify-content: space-between;
        margin-bottom: 0px;
    }

    .ourfriends-card {
        margin-right: 40px;
    }

    .ourfriends-card:nth-last-child(-n+2) {
        display: none;
    }
    .ourfriends-card:nth-last-child(-n+3) {
        margin-right: 12px;
    }

    .ourfriends-arrow-left {        
        margin-right: 12px;
    }

    .help-wrapper {
        min-height: 779px;
    }

    .help-content {
        max-width: 630px;
        max-height: 449px;
        justify-content: space-between;
        margin-bottom: 239px;
        gap: 56px 0px;
    }

    .help-item {
        width: 170px;
        height: 113px;
    }

    .inaddition-wrapper {
        flex-direction: column-reverse;
        align-items: center;
        gap: 0 30px;
        min-height: 783px;
    }

    .inaddition-img {
        margin-top: 88px;
    }
    
    .inaddition-content {
        max-width: 380px;
        height: 282px;
        margin-top: -42px;
    }

    .footer {
        background: url(./assets/img/footer-background-tablet.jpg) no-repeat center;
        background: url(./assets/img/footer-gradient-background-tablet.jpg) no-repeat center;
        background-size: cover;
    }

    .footer-wrapper {
        min-height: 639px;
        justify-content: center;
        gap: 0 60px;
    }

    .footer-img {
        margin-top: 50px;
    }

    .footer-contacts {
        margin-top: 0;
    }
    
    .footer-locations {
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    
    .wrapper {
        max-width: 300px;
    }

    .header-wrapper {
        margin: 0 10px;
    }

    .header-burger {
        display: block;   
    } 

    .header-nav {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: #EDF2EC;
        z-index: 10;
        padding: 75px;
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
        -webkit-transition: .2s all linear;
        -o-transition: .2s all linear;
        transition: .2s all linear;
    } 

    .ourfriends-wrapper {
        max-height: 1649px;
    }

    .ourfriends-title {
        max-width: 300px;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 0.06em;
        text-align: center;
        margin-top: 42px;
        margin-bottom: 42px;
    }

    .ourfriends-slider {
        justify-content: center;
        margin-bottom: 44px;
    }
    
    .ourfriends-card:nth-last-child(-n+5) {
        display: none;
    }

    .ourfriends-buttons {
        gap: 0 10px;
    }

    .footer {
        background: url(./assets/img/footer-background-mobile.jpg) no-repeat center;
        background: url(./assets/img/footer-gradient-background-mobile.jpg) no-repeat center;
        background-size: cover;
    }
    
    .footer-wrapper {
        min-height: 809px;
        justify-content: center;
    }

    .footer-contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-title-1 {
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin-top: 2px;
    }

    .footer-locations {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 300px;
        margin-top: 4px;
    }
    
    .footer-title-2 {
        max-width: 270px;
        font-size: 25px;
        line-height: 32px;
        text-align: center;
        margin-bottom: 20px;
    }

    .footer-london {
        margin-top: 5px;
        padding-right: 28px;
    }

    .footer-img {
        width: 260px;
        height: 269px;
        margin-top: 26px;
    }
}

/* Media end */